@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


:root {
    --mainBlue: #40acf1;
    --transparentBlue: rgba(64, 172, 241, 0.7);
    --mainWhite: #ffffff;
    --mainBlack: #292f36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--mainBlack);
    background: var(--mainWhite);
}

.navbar {
    background-color: var(--mainWhite);
}

.nav-icon {
    font-size: 2rem;
    color: var(--mainBlue);
    text-decoration: none;
    transition: color .2s;
}

.nav-icon:hover {
    color: var(--mainBlack);
    text-decoration: none;
}

.navbar-icon {
    font-size: 3rem;
    color: var(--mainBlue);
}

.navbar-toggler {
    outline-color: var(--mainBlue) !important;
}

.nav-link {
    color: var(--mainBlack);
    transition: color .2s;
}

.nav-link:hover {
    color: var(--mainBlue);
}

.height-max {
    background: url("../img/headerBcg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: calc(100vh - 80px);
    animation-name: zooming;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

.header {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    overflow: hidden;
    color: var(--mainWhite);
}

@keyframes zooming {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2) translateX(-10%);
    }
    100% {
        transform: scale(1);
    }
}

.title-heading {
    background: rgb(0, 0, 0, 0.5, green, blue);
    border-left: .3rem solid var(--mainBlue);
}

.title {
    font-weight: 700;
    font-size: 3rem;
}

.section-title-special {
    background: var(--transparentBlue);
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    color: var(--mainWhite);
    padding: 1rem 2rem;
}

.skills-icon {
    font-size: 3rem;
    color: var(--mainYellow);
    background: var(--mainGrey);
}

.skills-icon:hover {
    color: var(--mainYellow) !important;
}

.skills-line {
    background-color: var(--mainBlue);
    width: 4rem;
    height: .3rem;
    margin: 1rem auto;
}

.inventory {
    background: var(--mainGrey);
}

.car-card {
    border-radius: 0 !important;
}

.car-img {
    border-top-left-radius: 0 !important;
}

.car-value {
    background: var(--mainBlue);
    color: var(--mainWhite);
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    transition: all 1s ease-in-out;
}

.car-value:hover {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}

.question {
    background: url("../img/questionBcg.jpeg") center/cover fixed no-repeat;
}

.question-gray {
    background: rgba(79, 109, 122, 0.75);
}

.question-icon{
    font-size: 4rem;
    color: var(--mainBlue);
    transition: all .5s ease-in-out;
}

.question-icon:hover {
    transform: translateY(-10%);
    color: var(--mainBlue);
}

.question-info {
    color: var(--mainWhite);
}

.question-yellow {
    background-color: rgba(277, 181, 5, 0.75);
}

.featured {
    background: var(--mainGrey);
}

.featured-item {
    background: var(--mainWhite);
    border-radius: .5rem;
    opacity: .5;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.featured-item:hover {
    opacity: 1;
    transform: scale(1.05);
}

.featured-icon {
    font-size: 1.5rem;
    color: var(--mainBlue);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.featured-icon:hover {
    color: var(--mainBlue);
}

.img-container {
    position: relative;
    overflow: hidden;
    background-color: var(--mainBlue);
}

.featured-photo {
    transition: all 1s ease-in-out;
}

.img-container:hover .featured-photo {
    transform: scale(1.3);
    opacity: .5;
}

.featured-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: var(--mainBlack);
    transition: all 1s ease-in-out;
    opacity: 0;
}

.img-container:hover .featured-link {
    opacity: 1;
}

.featured-link:hover {
    color: var(--mainWhite);
}

.gallery-item {
    background-color: var(--mainYellow);
    position: relative;
    cursor: pointer;
}

.gallery-item:hover .gallery-img{
    opacity: .5;
}

.gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: .5rem solid var(--mainWhite);
    outline-offset: -2rem;
    transition: all 1s ease-in-out;
    transform: scale(0);
}

.gallery-item:hover::after {
    transform: scale(1);
}

.contact {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("../img/headerBcg.jpeg") center/cover fixed no-repeat;
}

.contact-input {
    background: transparent;
    border-color: var(--mainYellow);
    font-size: 1.5rem;
    color: var(--mainYellow) !important;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.contact-input:focus {
    background: transparent;
    border-color: var(--mainYellow);
}

.contact-input::placeholder {
    color: var(--mainYellow);
}

.contact-btn {
    border-color: var(--mainYellow);
    transition: all .5s ease-in-out;
    color: var(--mainYellow);
    text-transform: uppercase;
}

.contact-btn:hover {
    background: var(--mainYellow);
    color: var(--mainWhite) ;
}

.services {
    position: relative;
    min-height: 85vh;
    min-width: 95vw;
    margin: 0 auto;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.video-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--transparentBlue);
    z-index: -2;
}

.service {
    background-color: var(--mainBlack);
    color: var(--mainWhite);
    transition: all 1s ease-in-out;
}

.service:hover {
    background: var(--mainWhite);
    color: var(--mainBlack);
    padding-left: 2.2rem !important;
}

.service-icon {
    font-size: 4rem;
    color: var(--mainYellow);
}

.customer-card-body {
    margin-top: -3rem !important;
    color: var(--mainGrey);
}

.customer-img {
    border: 0.4rem solid var(--mainWhite);
}

.customer-name {
    color: var(--mainBlue);
}
  
.customer-icon {
    font-size: 2rem;
    color: var(--mainGrey);
}
  
.customer-quote {
    max-width: 90%;
}

.footer {
    background: var(--mainBlack);
}

.footer-icon {
    font-size: 1.5rem;
    color: var(--mainYellow);
    transition: all .5s;
    text-decoration: none;
}

.footer-icon:hover {
    color: var(--mainBlue);
}




























